body {
      background-color: #333; /* Цвет фона веб-страницы */
}

h1 {
      color: "aqua"
}

h4 {
      color: "red"
}

font {
    color: limegreen;
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
  }
